<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:17:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTestNGClass.afterClass()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:51</td>   <td>-27760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTestNGClass.afterMethod()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:17:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTestNGClass.afterMethod()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:17:19</td>   <td>38</td> <td title="&lt;&lt;SampleTestNGClass.afterSuite()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:17:19</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;SampleTestNGClass.afterTest()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:20</td>   <td>-58596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTestNGClass.beforeClass()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:20</td>   <td>-58574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTestNGClass.beforeMethod()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:51</td>   <td>-27760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTestNGClass.beforeMethod()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:20</td>   <td>-58613</td> <td title="&gt;&gt;SampleTestNGClass.beforeSuite()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:20</td>   <td>-58602</td> <td>&nbsp;</td><td title="&gt;&gt;SampleTestNGClass.beforeTest()[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:20</td>   <td>-58574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNGClass.f(java.lang.Integer, java.lang.String)[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">f</td> 
  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="9e7ee8">  <td>16/12/09 16:16:51</td>   <td>-27760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNGClass.f(java.lang.Integer, java.lang.String)[pri:0, instance:com.org.mavenpoc.SampleTestNGClass@4f209819]">f</td> 
  <td>main@944427387</td>   <td></td> </tr>
</table>
